<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="img/Logo-removebg-preview.png">
    <link rel="stylesheet" href="css/style.css">
    <title>A Dois</title>
</head>

<body>
    <!--Inicio Navbar-->
    <nav class="navbar navbar-expand-lg mb-5" id="bgNav">
        <div class="container-fluid">
            <a class="navbar-brand align-middle" href="#"><img src="img/Logo2.png" class=" d-inline-block"
                    style="width: 100%; height: 80px;" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-5" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="destino.html">Destinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="promocoes.html">Promoções</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="contato.html">Contato</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link fs-5" th:href="@{/client}" href="contato.html">Administração</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sazonais
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs-5" href="verao.html">Verão</a></li>
                            <li><a class="dropdown-item fs-5" href="inverno.html">Inverno</a></li>
                            <li><a class="dropdown-item fs-5" href="primavera.html">Primavera</a></li>
                            <li><a class="dropdown-item fs-5" href="outono.html">Outono</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Destinos" aria-label="Search">
                    <button class="btn btn-outline-success btnNavbar" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <!--Fim Navbar-->


    <main class="container">

        <!--Inicio Form-->
        <form class="formulario mb-5 rounded">

            <div class="row mb-3">

                <div class="col-md d-flex justify-content-center">
                    <div class="p-3">
                        <h2>Viagens para dois</h2>
                    </div>
                </div>
                <!--Botões-->

                <div class="btn-group col-md btnForm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-dark " for="btnradio1">Ida e Volta</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio3">Somente Ida</label>
                </div>
                <!--Reais/Milhas-->
                <div class="radio col-md p-4 d-flex justify-content-evenly">
                    <h5 class="mr-1">Exibir em:</h5>
                    <div class="form-check ml-1">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Reais
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Reais + Milhas
                        </label>
                    </div>
                </div>
            </div>
            <!--Local de ida-->
            <div class="row">

                <div class="mb-3 col-md">
                    <label for="exampleInputEmail1" class="form-label">Local de Ida</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3 col-md ">
                    <label for="exampleInputPassword1" class="form-label">Local do destino</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3 col-md ">
                    <label for="validationCustomUsername" class="form-label">Data de ida</label>
                    <div class="input-group has-validation">

                        <input type="date" class="form-control" id="validationDataIda"
                            aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>

                <div class=" mb-3 col-md">
                    <label for="validationCustomUsername" class="form-label">Data de volta</label>
                    <div class="input-group has-validation">

                        <input type="date" class="form-control" id="validationDataVolta"
                            aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>



                <div class="mb-3 com-md form-check">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
        <!--Fim Form-->
        <!--Inicio Cards Sazonais-->

        <div class="container row mx-auto d-flex justify-content-evenly">
            <!--Titulo-->
            <h1 style="text-align: center;" class="mb-4">Navegue pelos nossos pacotes sazonais</h1>

            <!--Cards-->
            <div class="card mb-3 expansao" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="img/VeraoADois.png" class="img-fluid rounded-start w-100 h-auto mt-4 " alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Verão 🌞❤️</h5>
                            <a class="card-text" href="promocoes.html"
                                style="text-decoration: none; color: black;">Desfrute de momentos inesquecíveis em
                                destinos paradisíacos. Seja em piscinas refrescantes, praia de águas cristalinas, à
                                beira de lagos ou explorando parques exuberantes, cada cenário é uma oportunidade para
                                se conectar e fortalecer o amor. </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 expansao" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 col-sm-12">
                        <img src="img/InvernoADois.png" class="img-fluid rounded-start w-100 h-auto mt-4" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Inverno ❄️❤️</h5>
                            <a class="card-text" href="promocoes.html"
                                style="text-decoration: none; color: black;">Perfeito para desfrutar de aconchego e
                                romance. Com lareiras e jantares à luz de velas, o frio torna-se uma oportunidade para
                                se hospedar em lindos hoteis e relaxar em spas acolhedores. Viva momentos de pura
                                intimidade nesta temporada mágica!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cards-->
        <div class="container row mx-auto d-flex justify-content-evenly">

            <div class="card mb-3 expansao" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="img/OutonoADois.png" class="img-fluid rounded-start w-100 h-auto mt-4" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Outono 🍂❤️</h5>
                            <a class="card-text" href="promocoes.html"
                                style="text-decoration: none; color: black;">Perfeito para caminhadas românticas por
                                florestas coloridas, tardes tranquilas em cafés e
                                pôres do sol espetaculares em chalés. Embarque em uma
                                viagem a dois nesta época mágica e vivencie momentos inesquecíveis juntos!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 expansao" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="img/PrimaveraADois.png" class="img-fluid rounded-start w-100 h-auto mt-4" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Primavera 🌸❤️</h5>
                            <a class="card-text" href="promocoes.html"
                                style="text-decoration: none; color: black;">Apaixone-se em meio à renovação da
                                natureza. Caminhe
                                por jardins floridos, desfrute de piqueniques românticos em parques
                                repletos de cores e sinta o perfume das flores no ar. O clima ameno e a atmosfera
                                romântica da primavera criam momentos inesquecíveis para apaixonados.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Cards Sazonais-->
        <!--Inicio Cards Pacotes-->
        <div class="row mx-auto mb-5 d-flex justify-content-evenly">
            <h1 style="text-align: center;" class="mb-4">Nossos principais destinos</h1>

            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img/rioJaneiro1.jpg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Rio de Janeiro</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>300</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img/foziguaçu.jpg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Foz do Iguaçu</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>350</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img//salvador.jpeg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Salvador</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>300</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img/guarujá.jpg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Guarujá</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>100</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img//londres.jpeg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Londres</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>1.000</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
            <div class="card mb-3 expansao" style="height: 340px; max-width: 340px; padding: 10px; text-align: center;">
                <img src="img/novayork.jpg" class="img-fluid w-100 h-100 rounded" alt="...">
                <div class="card-img-overlay itensAlinhados">
                    <h5 class="card-title">Nova York</h5>
                    <h6 class="card-text">A PARTIR DE</h6>
                    <h2 class="card-title">R$ <strong>2.300</strong></h2>
                    <button class="btn btn-outline" type="button"><a class="nav-link fs-5" href="destino.html">VER
                            MAIS</a></button>
                </div>
            </div>
        </div>
        <!--Fim Pacotes-->
    </main>
    <!--Promoções/Ofertas-->
    <section class=" container ofertas mb-4">
        <form class="row ">

            <div class="d-flex justify-content-center w-100">

                <h2>Inscreva-se para receber promoções exclusivas</h2>

            </div>

            <div class="row d-flex justify-content-center">

                <div class="col-auto">
                    <label for="inputName" class="visually-hidden">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Escreva seu e-mail">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-success mb-3">TO DENTRO</button>
                </div>
            </div>
        </form>
    </section>
    <!--Promoções/Ofertas-->

    <div class="container">
        <h2 class="mb-3" style="text-align: center;">Dúvidas frequentes</h2>
        <div class="row mb-3 gap-4 justify-content-center">

            <div class="card" style="width: 25rem; border: none;">
                <div class="card-body ">
                    <h5 class="card-title" style="text-align: center">Como funciona a A
                        Dois TRIP?</h5>
                    <p class="card-text" style="align-items: left;">Somos uma plataforma exclusiva que focaliza a sua
                        viagem a dois, romântica e
                        prazerora, pelo melhor preço.
                        É te levando a lugares que despertam a paixão e acendem o fogo do amor que lucramos. </p>
                </div>
            </div>
            <div class="card" style="width: 25rem; border: none;">
                <div class="card-body ">
                    <h5 class="card-title" style="text-align: center">É seguro comprar na A Dois TRIP?</h5>
                    <p class="card-text" style="align-items: left;">Na A Dois TRIP, sua segurança é nossa prioridade.
                        Implementamos rigorosas medidas de proteção para suas informações pessoais e financeiras,
                        utilizando tecnologias de segurança avançadas para criptografar todas as transações. Trabalhamos
                        somente com parceiros confiáveis do setor do turismo, garantindo serviços excelentes e proteção
                        em todas as etapas da sua experiência conosco.</p>
                </div>
            </div>
            <div class="card" style="width: 25rem; border: none;">
                <div class="card-body ">
                    <h5 class="card-title" style="text-align: center">Tem reembolso na A dois TRIP?</h5>
                    <p class="card-text" style="align-items: left;">Com uma tolerância de até 10 dias úteis antes da
                        viagem, oferecemos a oportunidade de reembolso da compra e o cancelamento da mesma. </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark d-flex" style="align-items: center;">
        <a class="navbar-brand align-middle m-1" href="#"><img src="img/Logo-removebg-preview.png"
                class=" d-inline-block" style="width: 100%; height: 80px;" /></a>
        <p class="card-text py-3 w-100" style="color: white; text-align: center;">"Desenvolvido por Pedro da Cunha Goya"
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>