<!DOCTYPE html>
<html lang="pt-br">
 
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
	<title>Listagem de Clientes</title>
</head>
 
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Clientes</a>
		</div>
		<div class="container-fluid">
			<a class="nav-link fs-5" aria-current="page" href="/">Home</a>
		</div>
		<div class="dropdown">
  				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    			Menu
  				</button>
  			<ul class="dropdown-menu">				  
    			<li><a th:href="@{/destiny}" class="btn btn-dark">Destinos</a></li>
    			<br>
    			<li><a th:href="@{/admin}" class="btn btn-dark">Administradores</a></li>    			
  			</ul>
		</div>
	</nav>
 
	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Listagem de Clientes</h1>
			</div>
		</div>
 
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Nome:</th>
							<th scope="col">Telefone:</th>
							<th scope="col">E-mail:</th>
							<th scope="col">Nivel de acesso:</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${clients}">
							<th scope="row" th:text="${user.idUser}" ></th>
							<td>
								<a th:text="${user.nameUser}" th:href="@{/client/{id}/detalhes (id=${user.idUser})}"></a>								
							</td>
							<td>
								<a th:text="${user.telephoneUser}" ></a>								
							</td>
							<td>
								<a th:text="${user.emailUser}" ></a>								
							</td>
							<td>
								<a th:text="${user.accesLevel}" ></a>								
							</td>
							
							<td>
								<a th:href="@{/client/{id}/editar (id=${user.idUser})}" class="btn btn-warning">
									Editar
								</a>
								<a  class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir o cliente?');" th:href="@{/client/{id}/excluir (id=${user.idUser})}">
																	
									Excluir
								</a>
								<a  class="btn btn-info"
									th:href="@{/purchase/{id}/listar (id=${user.idUser})}">									
									Compras
								</a>
								<a  class="btn btn-dark"
									th:href="@{/purchase/{id}/cadastrar (id=${user.idUser})}">									
									Cadastrar Compra
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
 
		<div class="row">
			<div class="col-sm-12">
				<a th:href="@{/client/cadastrar}" class="btn btn-primary">Cadastrar novo Cliente</a>
			</div>
			
		</div>
	</main>
 
 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
 
</html>